.mission {
    
    background: #E5E5E5;
    &__wrapper {
        padding: 97px 0 0 0;
        display: grid;
        grid-template-columns: repeat(2,600px);
        grid-template-rows: repeat(3, 390px);
        background: #EFF2F2;
    }
    &__descr {
        padding: 0 0 0 50px;
        &-green {
            background: #1B3E41;
            padding: 0 0 0 85px;
        }
    }
    &__subtitle {
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        span {
            color: #DF453E;
        }    
        &-center {
            text-align: center;
            font-weight: 500;
        }
        
        &-white {
            margin-top: 27px;
            width: 470px;
            height: 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            
        }
    }
    &__text {
        width: 255px;
        height: 34px;
        font-size: 14px;
        line-height: 17px;
        color: #1B3E41;

    }
    &__icons {
        margin-top: 20px;
        margin-bottom: 82px;
        padding-left: 140px;
    }
    &__photo {
       position: relative;
       left: 65px;
        img{
            width: 520px;
            height: 333px;
        }
        &-main {
            position: relative;
            left: 40px;
            top: 30px;
        }
    }
}